{% extends 'todo/base.html' %}

{% block content %}
  <h1>Single Task</h1>
  <h2>{{ task.title }}</h2>
  <p>{{ task.created_at }}</p>

  <!-- check if the taskdetail is None -->
  {% if taskdetail %}
    <p>
      <strong>Description:</strong>
      {{ taskdetail.description }}
    </p>
    <p>
      <strong>Priority:</strong>
      {{ taskdetail.priority }}
    </p>
    <p>
      <strong>Completed:</strong>
      {{ taskdetail.completed }}
    </p>
  {% else %}
    <p>No details Available</p>
  {% endif %}
  <a href="{% url 'update_taskdetail' task.id %}">Edit Task</a>
{% endblock %}
